streamlit
pandas
requests
plotly
scipy
python-dotenv
streamlit-navigation-bar
matplotlib
setuptools
wheel
fastapi
uvicorn
numpy
python-multipart
psycopg2-binary
sqlalchemy
seaborn 
pillow