header {
  background: #fff5e6 !important;
}

section[data-testid="stSidebar"] {
  /* background-color: #fff5e6; */
}
section[data-testid="stSidebar"] div[data-testid="stSidebarHeader"] {
  padding: 0.6rem 1.5rem 1.5rem;
}

section[data-testid="stSidebar"] img {
  height: 2rem !important;
  margin: auto;
}

section[data-testid="stSidebar"] div[data-testid="stSidebarCollapseButton"] {
  position: absolute;
  right: 1.3rem;
}

header div[data-testid="stToolbar"] {
  display: none;
}

div[data-testid="stChatMessage"] {
  background-color: transparent;
  z-index: 999999;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5rem 2rem;
}

div[data-testid="stChatMessage"] button[data-testid="baseButton-secondary"] {
  padding: 0;
  min-height: auto;
  background-color: transparent;
  border: none;
}

iframe[title="streamlit_navigation_bar.st_navbar"] {
  margin-top: calc(-6rem + -4rem) !important;
  width: 74% !important;
}
