header {
  background: rgb(240, 242, 246) !important;
}

section[data-testid="stSidebar"] img {
  height: 4rem !important;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

section[data-testid="stSidebar"] div[data-testid="stSidebarCollapseButton"] {
  position: absolute;
  right: 1.3rem;
}
